<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
      <add name="csTOtest" connectionString="Data Source=MLBSRL1-106854;Database=test;Integrated Security=True;Connect Timeout=30;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>